* {
    margin: 0;
}

.wrap {
    display: flex;
    // flex-wrap: wrap;
    max-width: 1366px;
    // height: 1000px;
    margin: 0 auto;
    
    font-family: $primary-font, Arial, Helvetica, sans-serif;

    background-color: #F0F0F0;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1298px;
    margin-left: 70px;
    @include md {
        margin-top: 70px;
        margin-left: 0;
    }

    @include sm {
        margin-top: 0;
        margin-left: 0;
    }

}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    max-width: 990px;
    // height: 794px;
    margin: 18px 18px 18px 14px;
}

.main__container-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 501px;
    // height: 509px;
}

.container-inner {
    display: flex;
    flex-wrap: wrap;
    max-width: 271px;
    // height: 835px;

    box-shadow: -3px 0px 6px #BDBDBD;
}