.footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 272px;
    height: 222px;

    background: #ffffff;
}

.footer__title{
    @include title (center);

    margin-top: 25px;
}

.footer__list {
    display: flex;
    flex-wrap: wrap;
}

.footer__item {
    @include flex-direction-items-content (center, center);

    width: 55px;
    height: 55px;
    margin: 5px;

    border-radius: 30%;
    cursor: pointer;
}

.footer__item--radio {
    background: linear-gradient(to top left, #ba7de3, #6d5bb6);
}

.footer__item--css {
    background: linear-gradient(to top left, #8fefd4, #4cbfc3);
}

.footer__item--deviantart {
    background: linear-gradient(to top left, #efb094, #b4717a);
}

.footer__item--xing {
    background: linear-gradient(to top left, #7d90e5, #854bb6);
}

.footer__item--vimeo {
    background: linear-gradient(to top left, #78dee6,#538de7);
}

.footer__item--vk {
    background: linear-gradient(to top left, #fce1a0, #ec7a68);
}