.navbar {
    position: fixed;
    top: 0;
    @include flex-direction(column);

    z-index: 1;
    
    width: 74px;
    height: 100vh;

    background: linear-gradient(90deg, #fd4e75, #fc7858);

    @include md {
        min-height: 70px;
        height: 70px;
        width: 100%;
        align-content: flex-start;
    }

    @include sm {
        display: none;
      }
}

.navbar__logo {
    @include flex-items-content(center, space-around);
    @include text-size-weight-color(22px, normal, #FD7858);
    @include block-decor(71px, 71px, #FFFFFF, 5px -1px 6px #BDBDBD);

    font-family: 'Galada', cursive;
}

.navbar__nav {
    position: relative;

    width: 70px;
    height: 849px;

    @include md {
        display: none;
    }

    @include sm {
        display: none;
    }

}

.navbar__link {
    @include flex-items-content(flex-end, center);
    @include text-size-weight-color(11px, normal, #FFFFFF);


    width: 70px;
    min-height: 70px;
}

.navbar__power-btn {
    width: 70px;
    height: 70px;

    color: #ffffff;

    background-color: transparent;
    
    border: none;
    cursor: pointer;

    @include sm {
        display: none;
      }
}

.navbar__link--home {
    background: url(../img/navbar/home-icon.png) no-repeat center;
    background-size: 20px 18px;
}

.navbar__link--statistics {
    background: url(../img/navbar/statistics-icon.png) no-repeat center;
    background-size: 20px 18px;
}

.navbar__link--users {
    background: url(../img/navbar/user-icon.png) no-repeat center;
    background-size: 16px 20px;
}

.navbar__link--settings {
    background: url(../img/navbar/settings-icon.png) no-repeat center;
    background-size: 20px 20px;
}

.navbar__link--queries {
    background: url(../img/navbar/queries-icon.png) no-repeat center;
    background-size: 20px 18px;
}

.navbar__power-btn {
    background: url(../img/navbar/power-icon.png) no-repeat center; 
}

.navbar__link--home:hover:after {
    @include navbar-pointer(35px);
}

.navbar__link--statistics:hover:after {
    @include navbar-pointer(105px);
}

.navbar__link--users:hover:after {
    @include navbar-pointer(175px);
}

.navbar__link--settings:hover:after{
    @include navbar-pointer(245px);
}

.navbar__link--queries:hover:after {
    @include navbar-pointer(315px);
}
