.navbar {
    position: fixed;
    top: 0;
    @include flex-direction(column);

    z-index: 1;
    
    width: 74px;
    height: 100vh;

    background: linear-gradient(90deg, #fd4e75, #fc7858);

    @include md {
        .navbar__burger-menu {
            display: block;
        }

        min-height: 70px;
        height: 70px;
        width: 100%;
        align-content: flex-start;
    }

    @include sm {
        .navbar__burger-menu {
            display: block;
        }

        min-height: 70px;
        height: 70px;
        width: 100%;
        align-content: flex-start;
    }

    @include xm {
        min-width: 320px;
        .navbar__burger-menu {
            right: 5%;
        }
     }
}

.navbar__logo {
    @include flex-items-content(center, space-around);
    @include text-size-weight-color(22px, normal, #FD7858);
    @include block-decor(71px, 71px, #FFFFFF, 5px -1px 6px #BDBDBD);

    font-family: 'Galada', cursive;

    @include md {
        @include block-decor(71px, 71px, #FFFFFF, none);
    }

    @include sm {
        @include block-decor(71px, 71px, #FFFFFF, none);
    }
}

.navbar__nav {
    position: relative;

    width: 70px;
    height: 849px;

    @include md {
        display: none;
    }

    @include sm {
        display: none;
    }

}

.navbar__link {
    @include flex-items-content(flex-end, center);
    @include text-size-weight-color(11px, normal, #FFFFFF);


    width: 70px;
    min-height: 70px;
}

.navbar__power-btn {
    width: 70px;
    height: 70px;

    color: #ffffff;

    background-color: transparent;
    
    border: none;
    cursor: pointer;

    @include sm {
        display: none;
    }
}

.navbar__link--home {
    background: url(../img/navbar/home-icon.png) no-repeat center;
    background-size: 20px 18px;
}

.navbar__link--statistics {
    background: url(../img/navbar/statistics-icon.png) no-repeat center;
    background-size: 20px 18px;
}

.navbar__link--users {
    background: url(../img/navbar/user-icon.png) no-repeat center;
    background-size: 16px 20px;
}

.navbar__link--settings {
    background: url(../img/navbar/settings-icon.png) no-repeat center;
    background-size: 20px 20px;
}

.navbar__link--queries {
    background: url(../img/navbar/queries-icon.png) no-repeat center;
    background-size: 20px 18px;
}

.navbar__power-btn {
    background: url(../img/navbar/power-icon.png) no-repeat center; 
}

.navbar__link--home:hover:after {
    @include navbar-pointer(35px);
}

.navbar__link--statistics:hover:after {
    @include navbar-pointer(105px);
}

.navbar__link--users:hover:after {
    @include navbar-pointer(175px);
}

.navbar__link--settings:hover:after{
    @include navbar-pointer(245px);
}

.navbar__link--queries:hover:after {
    @include navbar-pointer(315px);
}

.navbar__power-btn:hover {
    background-color: #c44457;
    border-radius: 50px;
}

.navbar__burger-menu {
    display: none;
    position: absolute;
    top: 25px;
    width: 37px;
    height: 5px;
    margin-left: 90%;
    background: #ffffff;
    border-radius: 40px;
}
  
.navbar__burger-menu::after {
    content: "";
    position: absolute;
    top: 10px;
    width: 37px;
    height: 6px;
    background: #ffffff;
    border-radius: 40px;
}
  
.navbar__burger-menu::before {
   content: "";
   position: absolute;
   top: 20px;
   width: 37px;
   height: 5px;
   background: #ffffff;
   border-radius: 40px;
}